<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>treatment</key>
		<string>Behandeling 1</string>
		<key>description</key>
		<string>Step up en stap in omdat gezond bewegen goed voor je gezondheid is,een positieve invloed op je stemming heeft, je zelfvertrouwen vergroot en de kans op het gebruik van medicijnen doet afnemen.</string>
		<key>weeknumber</key>
		<integer>1</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<false/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 2</string>
		<key>description</key>
		<string>Veel van onze dagelijkse handelingen gaan op de automatische piloot. Tijd om bewust te worden!</string>
		<key>weeknumber</key>
		<integer>2</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 3</string>
		<key>description</key>
		<string>Deal met hindernissen en kies een activiteit die je leuk vindt om te doen! Zorg ervoor dat jouw beweegactiviteit in je wekelijkse schema ingeroosterd wordt.</string>
		<key>weeknumber</key>
		<integer>3</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 4</string>
		<key>description</key>
		<string>De ademhaling is een hulpmiddel om te allen tijde naar het hier en nu te komen.</string>
		<key>weeknumber</key>
		<integer>4</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 5</string>
		<key>description</key>
		<string>Ademnood? Stapje terug maar blijf trainen!</string>
		<key>weeknumber</key>
		<integer>5</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 6</string>
		<key>description</key>
		<string>Wordt je bewust van je automatische, negatieve gedachten. Pas als je bewust wordt van deze negatieve gedachten, kan je ze veranderen.</string>
		<key>weeknumber</key>
		<integer>6</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 7</string>
		<key>description</key>
		<string>Houd je gedachten waardevrij, het is zoals het is.</string>
		<key>weeknumber</key>
		<integer>7</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>treatment</key>
		<string>Behandeling 8</string>
		<key>description</key>
		<string>Richt je op positieve dingen.</string>
		<key>weeknumber</key>
		<integer>8</integer>
		<key>week</key>
		<array>
			<dict>
				<key>day</key>
				<string>Maandag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Dinsdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Woensdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Donderdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Vrijdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zaterdag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
			<dict>
				<key>day</key>
				<string>Zondag</string>
				<key>activity</key>
				<true/>
				<key>mindfulness</key>
				<true/>
				<key>positive</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
